        <!DOCTYPE html>
        <html>
            <head>
                <meta charset="UTF-8">
                <title>{% block title %}Welcome!{% endblock %}</title>
                {% block stylesheets %}
                       {% block mysteel %}  {% endblock %}
                    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
           <link rel="stylesheet" href="{{asset('bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
          <!-- Font Awesome -->
          <link rel="stylesheet" href="{{asset('bower_components/font-awesome/css/font-awesome.min.css') }}">
          <!-- Ionicons -->
          <link rel="stylesheet" href="{{asset('bower_components/Ionicons/css/ionicons.min.css') }}">
          <!-- Theme style -->
          <link rel="stylesheet" href="{{asset('dist/css/AdminLTE.min.css') }}">
          <!-- iCheck -->
          <link rel="stylesheet" href="{{asset('plugins/iCheck/square/blue.css') }}">{% endblock %}
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            </head>
            <body>

            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
       
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
               

                  
                    <li class="nav-item active">
                <a class="nav-link" href="{{path('crud')}}">Utilisateurs <span class="sr-only">(current)</span></a>
              </li>



                    <li class="nav-item active">
                <a class="nav-link" href="{{path('crud_chantiers')}}">Chantiers <span class="sr-only">(current)</span></a>
              </li>



    
                    <li class="nav-item active">
                <a class="nav-link" href="{{path('ajout_pointages')}}">Pointages <span class="sr-only">(current)</span></a>
              </li>



 

            </div>
        </nav>


            {% block body %}{% endblock %}



                {% block javascripts %}




        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


         {% block javascriptsfunction %}{% endblock %}
        {% endblock %}
            </body>
        </html>
